%html
  %head
    %title Extreme Startup - Leaderboard
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %a{ :href => '/players' }
      I want to play!
    %h1 Leaderboard 
    %ul
      - leaderboard.each do |entry|
        %li.player
          %span.name #{players[entry[0]].name}
          %span.score #{entry[1]}
