%html
  %head
    %title Extreme Startup - Leaderboard
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %a{ :href => '/players' }
      I want to play!
    %h1 Leaderboard 
    %ul
      - leaderboard.each do |entry|
        %li.player
          %div{:class => ["ranking", "name"]} #{html_escape(players[entry[0]].name)}
          %div{:class => ["ranking", "points"]} #{entry[1]}
          
    :javascript
      refresh = function() { window.location.reload(); };
      setTimeout(refresh, 10000);

