%html
  %head
    %title Extreme Startup - No Such Player
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 No Such Player
    %p
      No player is registered with that id. Perhaps the game was restarted? You may need to re-register.
