%html
  %head
    %title Extreme Startup - #{name}
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 Hello, #{name}! 
    
    %p 
      Your score is 
      %strong #{score}
      
    %h2 Log:
    %ul
      - log.each do |logline|
        %li 
          %div{:class => ["logline", logline.result]} #{logline.to_s}