%html
  %head
    %title Extreme Startup - Score Graph
    %link(rel="stylesheet" href="/css/style.css")
    %script{:type => "text/javascript", :src  => "/js/smoothie.js"}
    %script{:type => "text/javascript", :src  => "/js/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src  => "/js/leaderboard.js"}

  %body
    %canvas{:id => "mycanvas", :width => 800, :height => 500 }
    %h1 Leader Board
    %ul{:id => "scoreboard" }