%html
  %head
    %title Extreme Startup - Score Graph
    %link(rel="stylesheet" href="/css/style.css")
    %script{:type => "text/javascript", :src  => "/js/smoothie.js"}
    %script{:type => "text/javascript", :src  => "/js/jquery-1.6.2.min.js"}

  %body
    %canvas{:id => "mycanvas", :width => 800, :height => 500 }
    %ul{:id => "scoreboard" }
    :javascript

      $(document).ready(function() {
        var colourTable = {}
    
        var Graph = function(canvas) {
          var timeSeries = {};
          var smoothie = new SmoothieChart({millisPerPixel: 500});
          smoothie.streamTo(canvas, 1000); 
          var randomRgbValue = function () {
            return Math.floor(Math.random() * 156 + 99);
          }
          var randomColour = function () {
            return 'rgb(' + [randomRgbValue(), randomRgbValue(), randomRgbValue()].join(',') + ')';
          }
          this.updateWith = function (leaderboard) {
            for (var i=0; i < leaderboard.length; i += 1) {
              var entry = leaderboard[i];
              var series = timeSeries[entry.playerid];
              if (!series) {
                series = timeSeries[entry.playerid] = new TimeSeries();
                colourTable[entry.playerid] = randomColour();
                smoothie.addTimeSeries(series, { strokeStyle:colourTable[entry.playerid], lineWidth:3 });
              }
              series.append(new Date().getTime(), entry.score);
            }
          }
        }    
      
        var ScoreBoard = function(div) {
          this.updateWith = function (leaderboard) {
            var listContent = "";
            for (var i=0; i < leaderboard.length; i += 1) {
              var entry = leaderboard[i];
              listContent += '<li class="player"><div class="ranking name" style="background-color:' + colourTable[entry.playerid] + '">' + entry.playername + '</div><div class="ranking points" style="background-color:' + colourTable[entry.playerid] + '">' + entry.score + '</div><a href="/withdraw/#' + entry.playerid + '">Withdraw</a></li>';
            }
            $("#scoreboard").replaceWith($('<ul id="scoreboard"></ul>').html(listContent));
          }
        }
        
        var graph = new Graph(document.getElementById('mycanvas'));
        var scoreboard = new ScoreBoard($("#scoreboard"));
      
        setInterval(function() {
          $.ajax({
            url: '/scores',
            success: function( data ) {
              var leaderboard = JSON.parse(data);
              graph.updateWith(leaderboard);
              scoreboard.updateWith(leaderboard);
            }
          });
        }, 1000);
      
      });
      

