h1 {color:blue}

.score {color:blue}

.logline {margin:2px; padding:3px; display:inline-block}
.logline.id {width:100}
.logline.result {width:150}
.logline.points {width:200}
.logline.correct {background-color:#7cfc00}
.logline.pass {background-color:#eed5b7}
.logline.wrong {background-color:#ff4500}
.logline.no_response {background-color:#ff4500}
.logline.error_response {background-color:#ff4500}


.ranking {margin:2px; padding:3px; display:inline-block; background-color:#eed5b7}
.ranking.name {width:200}
.ranking.points {width:200}