%html
  %head
    %title Extreme Startup - Metrics Index
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 Metrics
    %p
      The following metrics are available for your player
      
    %ul
      %li
        %a(href="metrics/score")
          Current score
      %li
        %a(href="metrics/correct")
          Total number of queries answered correctly
      %li
        %a(href="metrics/incorrect")
          Total number of queries answered incorrectly
      %li
        %a(href="metrics/requestcount")
          Total number of queries received