%html
  %head
  %body
    %h1 Player added - Thanks
  
    %p
      You can view your personal log page by 
      %a{ :href => "/players/#{playerid}" } following this link
      don't close that tab!
