%html
  %head
    %title Extreme Startup - Score Graph
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/style.css")
    %script{:type => "text/javascript", :src  => "/js/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src  => "/js/jquery.flot.js"}
    %script{:type => "text/javascript", :src  => "/js/leaderboard.js"}

  %body
    %div{:class => ["hero-unit"]} 
      %h1 Extreme Startup
    %div{:id => "mycanvas", :class => ["span7"]}
    %div{:class => ["span7"]}
      %h1 Leader Board
      %ul{:id => "scoreboard" }
